@import '../../styles/variables';

.home{
    width: 100%;
    height: auto;
    margin-left: 3.6rem;
    overflow-x: hidden;
    @include flex(column,center,center);
    @include breakpoint($bp-tablet){
        margin-left: 0;
        margin-top: 3.2rem;
    }
    

    &__trending-header{
        width: 100%;
        font-size: $font-heading-L;
        font-weight: $font-weight-heading-L-M;
        margin-bottom: 2.8rem;
    }

    &__recommendation{
        margin-top: 4rem;
        width: 100%;
        @include flex(column,center,center);
        &--header{
            width: 100%;
            font-size: $font-heading-L;
            font-weight: $font-weight-heading-L-M;
            margin-bottom: 4rem;
        }
        &--content{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);

            @include breakpoint($bp-tablet){
                grid-template-columns: repeat(3,1fr);
            }
            
            @include breakpoint($bp-mobile){
                grid-template-columns: repeat(2,1fr);
            }
            
            @include breakpoint($bp-small){
                grid-template-columns: 1fr;
            }

            gap: 4rem;
        }
    }
}