@import "../../styles/variables";

.search-result{
    width:100%;
    margin-left:3.6rem;
    @include flex(column,center,center);
    @include breakpoint($bp-tablet){
        margin-left: 0;
    }
          
    
    &__heading{
        width: 100%;
        font-size:$font-heading-L;
        font-weight: $font-weight-heading-L-M;
        margin-bottom: 4rem;
    }

    &__content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 4rem;
        @include breakpoint($bp-tablet){
            grid-template-columns: repeat(3,1fr);
        }
            
        @include breakpoint($bp-mobile){
            grid-template-columns: repeat(2,1fr);
        }
            
        @include breakpoint($bp-small){
            grid-template-columns: 1fr;
        }
    }
}