@import '../../styles/variables';

.trending-container{
    width: 100%;
    overflow-x: hidden;
    @include flex(row,center,center);
    border-radius:$border-radius ;
    
    &__spinner{
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    .trending{
        width: 2040rem;
        height: 23rem;
        @include flex(row,center,center);
        animation: animation 120s linear infinite;
    }
    .trending::-webkit-scrollbar{
        display: none;
    }
}

@keyframes animation {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1020rem);
    }
    
}